# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Python virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# Anaconda local files
anaconda_projects/